/*设置底部区域的格式*/
#footer {
    text-align: center;
    height: 200px;
    padding-top: 30px;
}

/*设置底部版权格式*/
#footer .copyrigth {
    padding-top: 20px;
}

/*设置底部链接格式*/
#footer .link a {
    margin-left: 5px;
    margin-right: 5px;
    color: #666666;
}
